# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
builds/macos/Computer[[:space:]]Building[[:space:]]Tycoon.app filter=lfs diff=lfs merge=lfs -text
builds/linux/buil-comp-tycoon.x86_64 filter=lfs diff=lfs merge=lfs -text
builds/windows/buil-comp-tycoon.exe filter=lfs diff=lfs merge=lfs -text
